---
import Layout from "../layouts/Layout.astro";

---



<Layout title="Cesar Leyton">
    <main class="flex justify-center items-center  h-screen">
        <section class="grid grid-cols-2  bg-red-100 w-[50vw]">
            <section class="flex justify-center items-center h-[200px] col-span-2 bg-blue-300">
                Cesar Leyton
            </section>
            <section class="col-span-2 grid grid-cols-3 grid-rows-1 p-0 m-0 bg-sky-500">
                <section class="flex justify-center h-[300px] w-[200px] col-span-1 bg-orange-300  items-center ">
                    <p class="rotate-90 font-noirpro w-[400px] bg-red-400 text-2xl">FullStack Dev</p>
                </section>
                <section class="flex justify-center col-span-2  bg-emerald-500  items-center">
                   Description
                </section>
            </section>
            <section class="col-span-2 grid grid-cols-3 bg-green-300 w-[100%]">
                <section>
                    Linkedin
                </section>
                <section class="flex justify-center bg-red-700 items-center">
                    Github
                </section>
                <section class="flex justify-center items-center">
                    Email
                </section>
            </section>
         
        </section>
        
    </main>
</Layout>
