---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cesar Leyton">
    <main class="w-screen h-screen flex justify-center items-center gap-10 bg-red-700"> 
        <section class="w-[300px] h-[300px] bg-blue-500 flex justify-center items-center  ">
            <a href="/about">Find more about me!</a>
        </section>
        <section class="w-[300px] h-[300px] bg-blue-500 flex justify-center items-center ">
            <a href="/experience">Experience</a>
        </section>
        <section class="w-[300px] h-[300px] bg-blue-500 flex justify-center items-center ">
         <a href="/projects">My software projects</a>
        </section>
    </main>
</Layout>
