---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cesar Leyton">
    <main  class="w-screen h-screen flex justify-center items-center gap-10 bg-primary"> 
        <section class=" ease-in-out duration-300 w-[300px] h-[300px] bg-terciary flex justify-center border-black border-2 items-center rounded-md shadow-xl  -skew-y-12 hover:scale-105">
            <a href="/about" class="font-noirpro text-5xl px-2 ">Find more about me!</a>
        </section>
        <section class=" ease-in-out duration-300 w-[300px] h-[300px] bg-terciary shadow-xl border-black border-2 flex justify-center items-center rounded-md hover:scale-x-105 ">
            <a href="/experience" class="font-noirpro text-5xl ">Experience</a>
        </section>
        <section class="ease-in-out duration-300 w-[300px] h-[300px] bg-terciary shadow-xl skew-y-12 border-black border-2 flex justify-center items-center px-2 rounded-md hover:scale-y-105">
         <a href="/projects" class="font-noirpro  text-5xl">My software projects</a>
        </section>
    </main>
</Layout>
