---
import Layout from '../layouts/Layout.astro';
import MyCard from '../components/MyCard.astro'
import HomeCards from '../components/HomeCards';
import About from '../components/About.astro';
---


<Layout title="Cesar Leyton">
	<main class="bg-[#0079EB] scroll-smooth">
		<MyCard/>
		<About/>
		<HomeCards/>
	</main>	
</Layout>


