---
import Layout from '../layouts/Layout.astro';
import MyCard from '../components/MyCard'
import Experience from '../components/Experience'
import About from '../components/About';
import MyProjects from '../components/MyProjects'

---


<Layout title="Cesar Leyton">
	<main class="h-screen w-screen">
		<section>
			<MyCard/>
		</section>
		
</Layout>


