---
import Layout from '../layouts/Layout.astro';
import MyCard from '../components/MyCard'


---


<Layout title="Cesar Leyton">
	<main class="h-screen w-screen">
		<section>
			<MyCard/>
		</section>
		
</Layout>


