---
import Layout from '../layouts/Layout.astro';
import MyCard from '../components/MyCard.astro'
import HomeCards from '../components/HomeCards';



---


<Layout title="Cesar Leyton">
	<main class="pb-2 w-screen">
		<section>
			<MyCard/>
		</section>
		<section>
			<HomeCards/>
		
		</section>
		
		
</Layout>


