---

---

    <section
      class="bg-[#0079EB] h-screen w-screen flex flex-col items-center justify-center mb-10 gap-4 "
      id="about"
    >
      <h4 class="text-3xl text-[#001053] font-noirpro">About me</h4>
      <article class="max-w-md flex flex-col items-center justify-center gap-16">
        <p class="font-noirlight px-5 text-xl text-white">
          Two years ago I was playing The witcher 3 and it came to my mind how
          you could create a world that allowed you to take so many different
          paths, so many ways to do things, that made me fell in love with the
          idea of being able to create something from a computer. Started
          studying software engineering and in a web development class something
          clicked, it was exciting to create solutions to problems and that
          those solutions were accessible to anyone. Today I'm building software
          in a fitness startup that seeks to boost the growth of gyms through
          digitalization. Outside of work and studies I enjoy working out,
          videogames and reading.
        </p>

      </article>
    </section>



<script>
  const card = document.getElementById('about')
  console.log(card)
  const observer = new IntersectionObserver((entries)=>{
      if (entries[0].isIntersecting) {
        console.log('inter')
        card.classList.add('show');
        observer.unobserve(card)
      } else {
        card.classList.remove('show');
        
      }
      
    }
   
  , {threshold: 0.5})
 
  observer.observe(card)

</script>

<style>
  #about.show {
    opacity: 1;
    transition: opacity 1s ease-out
  }

  #about {
    opacity: 0;
   
    transition: opacity 0.6s ease-out
  }
</style>



<script>

const arr = [7,1,5,3,6,4]
let max = arr[0]

console.log(max)
</script>