---

const {description, longevity, position, job, technologies} = Astro.props
const paragraphs = description.split("/");
---


    <section>
      <header>
        <p class="text-secondary font-noirpro">{longevity}</p>
        <h4 class="text-secondary font-noirpro">{job}</h4>
      </header>
      <section class="flex flex-col items-center ">
        <article
          class="max-w-[280px]"
        >
          <h5 class="font-noirlight text-xl">{position}</h5>
          {paragraphs.map((paragraph:string) => (
            <p class="font-noirlight">
              <small class="font-noirlight text-secondary  text-center text-xl">-</small>{" "}
              {paragraph}
            </p>
          ))}
        </article>
        
      </section>
    </section>
  


