


<section>
  <hgroup class="text-primary dark:text-white">
    <h4 >Umoob</h4>
    <h5>2022 - Present</h5>
    <h6 class="text-emerald-700  rounded-full">Front End developer</h6>
  </hgroup>
  <article class="flex flex-col gap-3 max-w-[400px] text-justify text-sm font-normal mt-3 text-primary dark:text-terciary">
    <p>-Developing responsive and reusable components with React+Typescript based on Figma designs </p>
    <p>-Collaborate with senior engineers following a complete software development cycle including development paradigms,methodologies such as Atomic design and BEM, taking participation in code reviews</p>
    <p>-Maintenance and improvement of the code.</p>
    <p>-Contribute ideas that improve user experience, development and teamwork. </p>
  </article>
</section>