
a{
  padding: 8px 0px;
}


.pipi::before {

  animation: animated 8s infinite;
  background: linear-gradient(90deg,#2980B9, #6DD5FA);
  content: 'Experience'; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  inset: 0;
  animation-delay:  3s;

}

.pupu::before {
  padding-top: 2px;
  background: linear-gradient(90deg,#8E2DE2, #4A00E0);
  content: 'My software projects';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  inset: 0;
  animation-delay: var(--delay);
  animation: animated 8s infinite;
  animation-delay:  6s;

}

@keyframes animated {
  0%, 16.667%, 100%{
      opacity: 1;
  }

  33.333% , 83.333% {
      opacity: 0;
  }
}