
a{
  padding: 8px 0px;
}


.experience::before {

  /* animation: animated 8s infinite; */
  background: linear-gradient(90deg,#a8ff78, #67fa12);
  content: 'Experience'; 
  background-clip: text;
  color: transparent;
  position: absolute;
  inset: 0;
  /* animation-delay:  0s; */

}

.projects::before {
  /* animation: animated 8s infinite; */
  padding-top: 2px;
  background: linear-gradient(90deg,#a8ff78, #67fa12);
  content: 'My software projects';
  background-clip: text;
  color: transparent;

  position: absolute;
  inset: 0;
  /* animation-delay: 3s; */
  
  

}

@keyframes animated {
  0%, 16.667%, 100%{
      opacity: 1;
  }

  33.333% , 83.333% {
      opacity: 0;
  }
}