---

import Header from "./Header.astro";
---



    <main class="flex flex-col justify-start items-center gap-5 h-screen w-screen bg-secondary">
      <Header />
      <section class="mt-40 space-y-10">
        <hgroup class="space-y-4 text-center">
          <h1 class="text-8xl font-noirpro text-terciary brightness-105 drop-shadow-md ">
            Cesar Leyton
          </h1>
          <h3 class="text-3xl font-noirlight text-primary">
            Fullstack Developer
          </h3>
        </hgroup>
        <section>
          <nav class="flex flex-col items-center justify-center gap-20">
            <ul class="flex items-center justify-center gap-8 [&>ul>li]: text-terciary ">
              <li>
                <a href="mailto:cesarleyton549@gmail.com" target="_blank">

                </a>
              </li>
              <li>
                <a href="https://github.com/Cesarleops" target="_blank">
                 
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/cesar-leyton-a5b879238/"
                  target="_blank"
                >

                </a>
              </li>
            </ul>
            <a href="/home">Know more about me!</a>
          </nav>
        </section>
      </section>
    </main>
