---
import Header from '../components/Header.astro'


---



    <main class="flex flex-col items-center gap-5 h-screen w-screen bg-primary  ">
      <Header />
      <section class="mt-32 space-y-10">
        <hgroup class="space-y-4 text-center">
          <h1 class="text-8xl font-noirpro text-white drop-shadow-md ">
            Cesar Leyton
          </h1>
          <h3 class="text-3xl font-noirpro text-secondary ">
            Fullstack Developer
          </h3>
        </hgroup>
        <section>
          <nav class="flex mb-[40px] flex-col items-center justify-center gap-20 ">
            <ul class="flex items-center justify-center gap-8 [&>ul>li]: text-terciary ">
              <li class="h-10 w-10 hover:scale-110" >
                <a href="mailto:cesarleyton549@gmail.com" target="_blank">
                  <img src="/email-outline.svg" alt={'email'}/>
                </a>
              </li>
              <li class="h-10 w-10 hover:scale-110">
                <a href="https://github.com/Cesarleops" target="_blank">
                <img src="/github-outline.svg" alt={"github icon"}/>
                </a>
              </li>
              <li class="h-10 w-10 hover:scale-110">
                <a
                  href="https://www.linkedin.com/in/cesar-leyton-a5b879238/"
                  target="_blank"
                >
                <img src="/linkedin-outline.svg" alt={"Linkedin icon"}/>
                </a>
              </li>
            </ul>
            <figure class="figure animate-bounce h-10 w-10">
              <img src="/arrow-downward-outline.svg" alt={'down arrow'}/>
            </figure>
            
          </nav>
        </section>
     
      </section>
      
    </main>

