---
import ProjectCard from "./ProjectCard.astro";
import { myProjects } from "../data";
---
    <main
      class=" w-screen flex flex-col items-center justify-center bg-terciary "
      id="projects"
    >
      <h5 class="text-3xl font-noirpro  pt-5 xl:pt-10">
        Personal Projects
      </h5>
      <section class="grid grid-cols-3 grid-rows-2 gap-4">
        {Object.keys(myProjects).map((key, i) => (
          <ProjectCard
            title={myProjects[key as keyof typeof myProjects]["title"]}
            id={myProjects[key as keyof typeof myProjects]["id"]}
          />
        ))}
      </section>
    </main>

