---

const {id, title} = Astro.props
---

    <section
      class="h-44 w-[95%] rounded-md bg-blue-200 flex items-end"
    >
      <aside class="flex gap-3 items-center pl-2 w-[100%] h-[50px] bg-gradient-to-r from-[#000046] to-[#1CB5E0] ">
      <h4 class="text-terciary text-2xl font-noirpro">{title}</h4>
      <a class="text-terciary" href={`${id}`}>GO</a>
      </aside> 
    </section>
